<section id="certifications">
    <h2>Certifications</h2>
    <ul>
      <li>Certifications in C, Python, SQL | HackerRank</li>
      <li>Responsive Web Design Developer Certification | FreeCodeCamp, 2022</li>
      <li>Certificate in Object-Oriented Programming using Java | Great Learning, 2023</li>
      <li>Explorer Badge in Java Programming | Oracle, 2024<br>Learned Java programming basics, including variables, classes, objects, loops, arrays, and decision constructs. Gained an introduction to Java's object-oriented capabilities using the NetBeans IDE and Oracle Cloud.</li>
    </ul>
  </section>