<section id="education">
    <h2>Education</h2>
    <ul>
      <li><strong>Madanapalle Institute of Technology and Science, Madanapalle, India</strong><br>Bachelor of Technology (B.Tech) in Computer Science and Technology (2021 - 2025)<br>CGPA: 7.5/10</li>
      <li><strong>Sri Sai Siddhatha Jr College, Madanapalle, India</strong><br>Intermediate (MPC) (2019 - 2021)<br>Percentage: 83%</li>
      <li><strong>Vivekananda High School, Madanapalle, India</strong><br>Secondary School Certificate (SSC) (2018 - 2019)<br>CGPA: 9.2/10</li>
    </ul>
  </section>