
{% extends 'html/base.html' %}
{% block title %}about{% endblock %}
{% block content %}
{% load static %}

<div class="container mt-4">
  <div class="jumbotron">
    <center>
    <h3>Welcome to about page</h3>
    


    <h1>About Us<h1>
    </center>
      <h3>MITSHospitals</h3>
        <p>At MITSHospitals, our mission is to provide exceptional healthcare services with compassion, expertise, and a commitment to excellence. Since 2023, we have been a trusted healthcare provider in our community, dedicated to improving the health and well-being of our patients.</p>

        <h3>Our Vision:</h3>
        <p>
        Our vision is to be a leader in healthcare innovation and patient-centered care. We strive to set the standard for healthcare excellence by continuously improving our services, technology, and patient experience.</p>

<h3>Our Team</h3>
<p>
Our team consists of highly skilled and compassionate healthcare professionals who are dedicated to delivering the highest quality care. From our experienced physicians and surgeons to our dedicated nurses and support staff, every member of our team is committed to your health and safety.</p>

<h3>State-of-the-Art Facilities</h3>
<p>
We are proud to offer state-of-the-art facilities equipped with the latest medical technology and equipment. Our modern hospital is designed to provide a comfortable and healing environment for our patients.</p>

<h3>Comprehensive Services</h3>

<h4>At MITSHospitals, we offer a wide range of medical services, including:</h4>
  <p>
  General Medicine
  Surgery
  Obstetrics and Gynecology
  Pediatrics
  Cardiology
  Orthopedics
  Radiology and Imaging
  Laboratory Services
  Emergency Care
  We are your one-stop destination for all your healthcare needs, from routine check-ups to complex medical procedures.</p>
    <h3>Patient-Centered Care</h3>


      <p>We believe that every patient is unique, and we tailor our care to meet your individual needs. Your health and well-being are our top priorities, and we are committed to providing personalized and compassionate care to ensure your comfort and recovery.</p>

        <h3>Community Involvement</h3>

          <p>We are proud to be an active member of our community, and we regularly participate in health awareness programs, medical camps, and community events. We are dedicated to promoting health and wellness not only within our hospital walls but also in the neighborhoods we serve.</p>


  </div>
</div>
<div class="container mt-4">
  <div class="jumbotron">

    

    <!-- Center and set the width of the image using the 'align' and 'width' attributes -->
    <center>

      <img src="{% static 'images/lly.jpeg' %}" alt="Image" align="middle" width="400">
       <h3>MITSHospital</h3>
    </center>

    
    <!-- Rest of your content... -->

  </div>
</div>


{% endblock %}
