{% load static %}
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'hm' %}"><img src="{% static 'images/loki.jpeg' %}" class="rounded-circle" style="width:30px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/hm/' %}active{% endif %}" href="{% url 'hm' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/abt/' %}active{% endif %}" href="{% url 'ab' %}">about us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/cnt/' %}active{% endif %}" href="{% url 'ct' %}">contact us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/signup/' %}active{% endif %}" href="{% url 'su' %}">Signup</a>
      </li> 
      {% else %}
      <li class="nav-item">
       <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'hm' %}">Home</a>
      </li>
      {% if request.user.role_type == '1' %}
      {% if request.user.has_arogyasri == 1 %}
      <li class="nav-item">
       <a class="nav-link" href="">Your Appointments</a>
        </li>
      {% else %}
      <li class="nav-item">
       <a class="nav-link {% if request.path == '/arogyasri/' %}active{% endif %}" href="{% url 'agscr'%}">Arogya sri</a>
      </li>
      {% endif %}

      {% elif request.user.role_type == '2' %}
      {% if request.user.has_hospital == 1 %}
      <li class="nav-item">
       <a class="nav-link {% if request.path == '/staffl/' %}active{% endif %}" href="{% url 'staffct'%}">Create Profile</a>
      </li>
      {% else %}
      <li class="nav-item">
       <a class="nav-link {% if request.path == '/docpro/' %}active{% endif %}" href="{% url 'docprof' %}">Docs Profile</a>
        </li>
       {% endif %}
       {% else %}
       <li class="nav-item">
       <a class="nav-link" href="">Access denied !</a>
      </li>
      {% endif %} 
      {% endif %}     
    </ul>
    <ul class="navbar-nav ml-auto" style="margin-right:50px">
      {% if user.is_authenticated %}
     <div class="dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown">Welcome {{request.user.username}}
  
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="#">Change password</a>
        <a class="dropdown-item {% if request.path == '/lgt/' %}active{% endif %}" href="{% url 'lgtn' %}">Log out</a>
      </div>
     </div>
     {% else %}
     <li class="nav-item">
        <a class="nav-link {% if request.path == '/lgo/' %}active{% endif %}" href="{% url 'lg' %}">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>  
</nav>