<section id="projects">
    <h2>Projects</h2>
    <div class="projects">
      <div class="project-card">
        <h3>Hospital Management System</h3>
        <p>May 2023 - July 2023<br>Technologies: Python, JavaScript, HTML, CSS<br>• Designed and implemented an online appointment scheduling system with detailed doctor profiles using HTML, CSS, and JavaScript, enhancing the ease of use for patients and staff.<br>• Ensured responsive design for desktop and mobile views and established cross-browser compatibility, improving accessibility and user experience across devices.<br>• Utilized JavaScript for frontend validation and interactivity, contributing to a seamless, error-free user interface.</p>
      </div>
      <div class="project-card">
        <h3>Online Clothing Store</h3>
        <p>June 2024 - August 2024<br>Technologies: JavaScript, TypeScript, Angular, HTML, CSS<br>• Built order and payment pages using Angular with HTML, CSS, and TypeScript to create a smooth and responsive user experience, prioritizing UI/UX design and usability.<br>• Collaborated closely with backend developers to integrate RESTful APIs, optimizing application performance and loading speed.<br>• Improved application responsiveness and cross-browser compatibility to ensure a consistent and high-quality user experience across devices.</p>
      </div>
    </div>
  </section>