<section id="skills">
    <h2>Skills</h2>
    <ul>
      <li><strong>Programming Languages:</strong> Java, JavaScript, TypeScript</li>
      <li><strong>Web Technologies:</strong> HTML, CSS, Angular, Django, Bootstrap</li>
      <li><strong>Frontend Skills:</strong> Responsive Design, UI/UX Design, Cross-browser Compatibility</li>
      <li><strong>Version Control:</strong> Git, GitHub</li>
      <li><strong>Prototyping Tools:</strong> Figma</li>
      <li><strong>Databases:</strong> MySQL, PostgreSQL</li>
      <li><strong>Operating Systems:</strong> Windows, Linux, macOS</li>
    </ul>
  </section>