
{% extends 'html/base.html' %}
{% block title %}Home{% endblock %}
{% load humanize %}
{% block content %}

<div class="container mt-2">
  <div class="jumbotron">
    <h3>Welcome to home page</h3>
  </div>
</div>
{% if request.user.role_type == '2' and request.user.has_hospital == 1 %}
<div class="container-fluid mt-2">
  <div class="row mx-2">
    {% for i in rj %}
    <div class="col-md-3">
     <div class="card shadow-lg">
      <div class="card-body">
        <h6>{{i.jtitle}}</h6>
        <p>Specialization: {{i.jreq}}</p>
        <p>{{i.jlocation}}</p>
        <p>Experience:{{i.jexpr}}<sup>+</sup>years</p>
      </div>
      <div class="card-footer">
        <p class="text-muted">{{i.jcrtm|naturaltime}}</p>
      </div>
    </div>
  </div>
    {% endfor %}
  </div>
</div>
{% elif request.user.role_type == '1' %}
<div class="container-fluid mt-2">
  <div class="row mx-2">
    {% for i in uj %}
    <div class="col-md-3 my-2">
     <div class="card shadow-lg">
      <div class="card-body">
        <h5>{{i.0}}</h5>
        <h6>Doctor:{{i.4}}</h6>
        <h6>Specialization: {{i.2}}</h6>
        
        <h6>Experience:{{i.1}}<sup>+</sup>years</h6>
      
        <h6>Fee:{{i.5}}</h6>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col">
           <p class="text-muted">{{i.3|naturaltime}}</p>
         </div>
         <div class="col">
          <a href="" class="btn btn-success">Book</a>
        </div>
      </div>
    </div>
  </div>
</div>
    {% endfor %}
  </div>
</div>
{% else %}
{% endif %}
{% endblock %}



