<section id="internships">
    <h2>Internships</h2>
    <ul>
      <li><strong>Web Development Intern</strong><br>APSSDC (Remote) | May 2023 - July 2023<br>• Developed a hospital management system using Django for backend functionality and HTML/CSS for a user-friendly frontend.<br>• Enhanced UI design and ensured mobile responsiveness, achieving high user satisfaction.<br>• Implemented JavaScript for front-end validation and interactive features, contributing to a smooth user experience.</li>
      <li><strong>Frontend Development Intern</strong><br>Xenovex Pvt. Ltd. | June 2024 - August 2024<br>• Built an e-commerce web application using Angular with a focus on UI/UX improvements to boost engagement and usability.<br>• Leveraged TypeScript for enhanced performance and reliability, optimizing for faster load times.<br>• Gained expertise in responsive design and cross-browser compatibility, improving the application’s accessibility across various devices and platforms.</li>
    </ul>
  </section>